
*.log
*.obj
*.tlog
*.idb
*.vcxproj
*.filters
*.user
*.pdb
*.vtu
*.pvd
ns/CMakeFiles/progress.marks
ns/cmake_install.cmake
ns/CMakeCache.txt
ns/CMakeFiles/3.12.1/CMakeCCompiler.cmake
ns/CMakeFiles/3.12.1/CMakeCXXCompiler.cmake
ns/CMakeFiles/3.12.1/CMakeDetermineCompilerABI_C.bin
ns/CMakeFiles/3.12.1/CMakeDetermineCompilerABI_CXX.bin
ns/CMakeFiles/3.12.1/CMakeSystem.cmake
ns/CMakeFiles/3.12.1/CompilerIdC/a.out
ns/CMakeFiles/3.12.1/CompilerIdC/CMakeCCompilerId.c
ns/CMakeFiles/3.12.1/CompilerIdCXX/a.out
ns/CMakeFiles/3.12.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
ns/CMakeFiles/CheckTypeSize/PETSC_INT_SIZE.c
ns/CMakeFiles/cmake.check_cache
ns/CMakeFiles/CMakeDirectoryInformation.cmake
ns/CMakeFiles/demo_navier-stokes.dir/build.make
ns/CMakeFiles/demo_navier-stokes.dir/cmake_clean.cmake
ns/CMakeFiles/demo_navier-stokes.dir/CXX.includecache
ns/CMakeFiles/demo_navier-stokes.dir/depend.internal
ns/CMakeFiles/demo_navier-stokes.dir/depend.make
ns/CMakeFiles/demo_navier-stokes.dir/DependInfo.cmake
ns/CMakeFiles/demo_navier-stokes.dir/flags.make
ns/CMakeFiles/demo_navier-stokes.dir/link.txt
ns/CMakeFiles/demo_navier-stokes.dir/main.cpp.o
ns/CMakeFiles/demo_navier-stokes.dir/progress.make
ns/CMakeFiles/feature_tests.bin
ns/CMakeFiles/feature_tests.cxx
ns/CMakeFiles/feature_tests.c
ns/CMakeFiles/Makefile.cmake
ns/CMakeFiles/Makefile2
ns/CMakeFiles/TargetDirectories.txt
ns/demo_navier-stokes
